@using SocialNetwork.Helper
@inject IUserContext UserContext

<div class="div_post">
    <div class="div_post_content">
        <div class="post_content_topBar">
            <div class="postPhoto_container">
                <img class="svg postPhoto" src="@UserContext.User.ProfilePhotoUrl">
            </div>
            <div class="postProfile">
                <span>Leo Zheng</span>
                <span class="time">1分鐘前</span>
            </div>
            <div class="postAction">⋮</div>
        </div>

        <div class="post_body">
            <span>
                哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉哈囉
            </span>
            <div id="wrapper">
                <ul class="example">
                    <li data-thumb="https://image.shutterstock.com/image-vector/tropical-flowers-palm-leaves-jungle-600w-622250576.jpg" data-src="https://6666design.com/pic/it2018/example/1@320x200.jpg">
                        <img src="https://image.shutterstock.com/image-vector/tropical-flowers-palm-leaves-jungle-600w-622250576.jpg" />
                    </li>
                    <li data-thumb="https://image.shutterstock.com/image-vector/tropical-flowers-palm-leaves-jungle-600w-622250576.jpg" data-src="https://6666design.com/pic/it2018/example/1@320x200.jpg">
                        <img src="https://image.shutterstock.com/image-vector/tropical-flowers-palm-leaves-jungle-600w-622250576.jpg" />
                    </li>
                    <li data-thumb="https://image.shutterstock.com/image-vector/tropical-flowers-palm-leaves-jungle-600w-622250576.jpg" data-src="https://6666design.com/pic/it2018/example/1@320x200.jpg">
                        <img src="https://image.shutterstock.com/image-vector/tropical-flowers-palm-leaves-jungle-600w-622250576.jpg" />
                    </li>
                    <li data-thumb="https://image.shutterstock.com/image-vector/tropical-flowers-palm-leaves-jungle-600w-622250576.jpg" data-src="https://6666design.com/pic/it2018/example/1@320x200.jpg">
                        <img src="https://image.shutterstock.com/image-vector/tropical-flowers-palm-leaves-jungle-600w-622250576.jpg" />
                    </li>
                </ul>
            </div>
        </div>
        <div class="post_footerBar">
            <div class="post_footer_container">
                <div class="post_footer_img">
                    <img class="svg postLike" src="/images/post/thumb_up_black_24dp.svg" />
                </div>
                <span class="post_footer_number">15</span>
            </div>
            <div class="post_footer_container">
                <div class="post_footer_img">
                    <img class="svg postMsg" src="/images/post/textsms_black_24dp.svg" />
                </div>
                <span class="post_footer_number">20</span>
            </div>
            <div class="post_footer_container">
                <img class="svg postShare" src="/images/post/share_black_24dp.svg" />
            </div>
        </div>
    </div>
    <div class="div_post_msg_send">
        <div class="post_msgPhoto_container">
            <img class="svg post_msgPhoto" src="@UserContext.User.ProfilePhotoUrl">
        </div>
        <div class="post_msg_comment">
            <textarea class="msgComment" placeholder="留言..."></textarea>
        </div>
        <div class="post_msg_submit">
            <img class="svg msgSend" src="/images/post/send_black_24dp.svg">
        </div>
    </div>

    <div class="div_post_msg">
        <div class="post_msgPhoto_container">
            <img class="svg post_msgPhoto" src="@UserContext.User.ProfilePhotoUrl">
        </div>
        <div class="postMsgProfile">
            <span>Leo Zheng</span>
            <span class="time">1分鐘前</span>
        </div>
        <span class="postMsgComment">
            你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好
            你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好
            你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好你好
        </span>
    </div>
</div>