@charset "UTF-8";
.login_background {
  width: 500px;
  height: 100%;
  background-color: #FFFFFF;
  margin: 0px auto; }

.loginBox {
  padding-top: 35%; }

.logo {
  font-size: 40pt;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 8%;
  padding-bottom: 3%;
  color: #f2a1a1; }

.inputbox {
  width: 350px;
  height: 50px;
  background-color: #FFFFFF;
  color: #acacac;
  border-radius: 5px;
  margin: auto;
  margin-top: 3%; }

.inputbox_text {
  font-size: 20pt;
  padding-left: 15px;
  line-height: 50px; }

.btn_loginPage {
  width: 350px;
  height: 40px;
  font-size: 15pt;
  border-radius: 5px;
  background-color: #F2A1A1;
  color: #FFFFFF;
  font-weight: 600;
  outline: 0; }

.btn_loginPage:hover {
  background-color: #D68D8D; }

.btn_singup, .btn_info {
  width: 130px;
  height: 50px;
  font-size: 15pt;
  border-radius: 5px;
  background-color: #F2A1A1;
  color: #FFFFFF;
  font-weight: 700;
  outline: 0; }

.btn_singup:hover, .btn_info:hover {
  border: 1px solid #FFFFFF; }

.btn_login_text {
  color: #be5959;
  font-size: 18pt;
  text-align: center;
  line-height: 50px;
  font-weight: 800; }

.input_login {
  width: 330px; }

.input_sinup {
  width: 430px; }

.signupStyle {
  width: 700px;
  height: 720px; }

.singupText {
  font-size: 16pt;
  color: #4E4E4E;
  position: relative;
  bottom: 50%;
  right: 5%;
  font-weight: 600; }

.singupTextBackground {
  width: 90%;
  height: 70%;
  background-color: #ffe9e9;
  border-radius: 25px;
  position: relative;
  top: 20%; }

.InfoTextBackground {
  width: 50px;
  height: 70%;
  background-color: #ffe9e9;
  border-radius: 25px;
  position: relative;
  top: 20%;
  right: 15px; }

.singupContent {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 3% 9%; }

.singupInputText {
  width: 100px;
  height: 30px; }

.InfoInputText {
  height: 30px; }

.linediv {
  display: flex;
  align-content: center;
  justify-content: center; }

.lineStyle {
  width: 80%;
  height: 1px;
  background-color: #dadada; }

.forgotPassword {
  display: flex;
  justify-content: center; }

.forgotPasswordWindow {
  width: 700px;
  height: 330px; }

.btn_forgotPassword {
  background: none;
  color: #F2A1A1;
  font-size: 14pt;
  margin-top: 3%; }

.btn_forgotPassword:hover {
  color: #D68D8D; }

.btn_forgotPassword_submit {
  width: 130px;
  height: 50px;
  font-size: 15pt;
  border-radius: 5px;
  background-color: #F2A1A1;
  color: #FFFFFF;
  font-weight: 700;
  outline: 0; }

.btn_Verification {
  height: 48px;
  font-size: 16pt;
  border-radius: 5px;
  background-color: #F2A1A1;
  color: #FFFFFF;
  font-weight: 600;
  outline: 0; }

.btn_Verification:hover {
  background-color: #D68D8D; }

.subTitle {
  display: flex;
  justify-content: center;
  align-items: center; }

.InfoIcon {
  width: 90px;
  margin-left: 10px;
  right: 0px; }

.InfoInputdiv {
  display: contents; }

/*隱藏時間選擇按鈕文字*/
#birthday_datepicker {
  width: 45px;
  height: 45px;
  text-indent: -999px;
  overflow: hidden;
  background: none;
  margin: auto;
  position: absolute; }

.DateText {
  margin: auto;
  font-size: 14pt; }

.DateInput {
  width: 85px;
  padding-left: 0 !important;
  text-align: center; }

.DateIcon {
  display: flex;
  align-items: center;
  justify-content: center; }
