@charset "UTF-8";
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, "Microsoft JhengHei";
  background-color: #FCD4D5;
  height: 100%;
  margin: 0;
  font-weight: 600;
  overflow-x: hidden;
  overflow-y: auto;
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

body::-webkit-scrollbar-track {
  background-color: #E8E8E8;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.btn_div {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

a.logo {
  font-size: 40pt;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 8%;
  padding-bottom: 3%;
  color: #F2A1A1;
}

input {
  font-weight: 600;
}

.div_menu > a, .index_status_select, .index_menuText, .deploy_post_title, .postAction {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type=text], input[type=password] {
  -moz-user-select: text;
  -webkit-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

input[type=text], input[type=password], #infoEducation {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #FCD4D5;
  font-size: 15pt;
  margin-top: 2px;
  outline: 0;
  padding-left: 15px;
}

input[type=text]:focus, input[type=password]:focus {
  border: 1px solid #F2A1A1;
}

input[type=button] {
  border: none;
  cursor: pointer;
}

input[type=date] {
  height: 45px;
  border-radius: 5px;
  border: 1px solid #FCD4D5;
  font-size: 15pt;
  margin-top: 2px;
  outline: 0;
  padding-left: 12px;
  padding-right: 5px;
}

input[type=date]:focus {
  border: 1px solid #F2A1A1;
}

input[type=date]::-webkit-calendar-picker-indicator {
  background-image: url("/Image/date.png");
  background-repeat: no-repeat;
}

.member_layout_background {
  width: 500px;
  height: 100%;
  background-color: #FFFFFF;
  margin: 0px auto;
}

.member_layout_Box {
  padding-top: 35%;
}

/*POP背景遮罩*/
.popLayer {
  display: none;
  background-color: rgba(0, 0, 0, 0.32);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/*POP彈窗樣式*/
.popBox {
  display: none;
  background-color: #FFFFFF;
  border: 1px solid #D68D8D;
  border-radius: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.InfoStyle {
  width: 700px;
  height: 490px;
}

.topBar {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 8%;
}

.closeIcon {
  width: 50px;
  height: 50px;
  filter: invert(95%) sepia(69%) saturate(1835%) hue-rotate(293deg) brightness(99%) contrast(91%);
  position: absolute;
  right: 0px;
  cursor: pointer;
}

.closeIcon:hover {
  filter: invert(88%) sepia(50%) saturate(878%) hue-rotate(294deg) brightness(93%) contrast(79%);
}

.popTitle {
  color: #D68D8D;
  font-size: 25pt;
  font-weight: 700;
  position: absolute;
  padding-top: 35px;
}

.Error, .Info {
  width: 300px;
  height: 200px;
}

.btn_Error {
  width: 130px;
  height: 50px;
  font-size: 15pt;
  border-radius: 5px;
  background-color: #F2A1A1;
  color: #FFFFFF;
  font-weight: 700;
  outline: 0;
}

.btn_Error:hover {
  border: 1px solid #FFFFFF;
}

.ErrorText {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-size: 15pt;
  color: red;
  font-weight: 600;
  text-align: center;
  height: 80px;
  align-items: center;
}

.InfoText {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-size: 15pt;
  color: black;
  font-weight: 600;
  text-align: center;
  height: 80px;
  align-items: center;
}

.PromptText {
  color: #BFBFBF;
  font-size: 12pt;
}

.input-error {
  border: 2px solid red !important;
}

/* 客製化 SweetAlert2 */
.swal2-styled.swal2-confirm {
  width: 130px !important;
  height: 50px !important;
  font-size: 18pt !important;
  border-radius: 5px !important;
  background-color: #F2A1A1 !important;
  color: #FFFFFF !important;
  font-weight: 700 !important;
  border: none !important;
}

.swal2-styled.swal2-confirm:focus {
  box-shadow: none !important;
}

.swal2-html-container {
  font-size: 1.5em !important;
  font-weight: 600 !important;
}

.swal2-styled.swal2-cancel {
  width: 130px !important;
  height: 50px !important;
  font-size: 18pt !important;
  border-radius: 5px !important;
}

.swal2-styled {
  padding: 0 !important;
}

/* 客製化 JQuery DatePicker*/
.ui-widget-content {
  background: #FFFFFF;
  border: none;
  box-shadow: 1px 1px 3px 1px #F2A1A1;
}

.ui-widget-header {
  border: none;
  background: #FCD4D5;
}

.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #FFF3F3;
  border: none;
  border-radius: 3px;
  text-align: center;
}

.ui-state-default:hover {
  background: #F2A1A1;
  color: #FFFFFF;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 35%;
  border-radius: 5px;
  margin: 0px 5px;
  border: none;
}

.ui-datepicker-year::-webkit-scrollbar-thumb {
  display: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: none;
  background: #F2A1A1;
  top: 3px;
}

.ui-datepicker .ui-datepicker-prev-hover {
  left: 3px;
}

.ui-datepicker .ui-datepicker-next-hover {
  right: 3px;
}

.inputContent {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 3% 9%;
}
.inputContent .inputContentText {
  width: 100px;
  height: 30px;
}
.inputContent .inputContentText .inputTextBackground {
  width: 90%;
  height: 70%;
  background-color: #FFE5E5;
  border-radius: 25px;
  position: relative;
  top: 20%;
}
.inputContent .inputContentText .inputTextBackground .inputText {
  font-size: 16pt;
  color: #000000;
  position: relative;
  bottom: 50%;
  right: 5%;
  font-weight: 600;
}

.btn_sm_submit {
  width: 130px;
  height: 50px;
  font-size: 15pt;
  border-radius: 5px;
  background-color: #F2A1A1;
  color: #FFFFFF;
  font-weight: 700;
  outline: 0;
}

.div_menu {
  background-color: #FFFFFF;
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

.div_content {
  height: 100%;
  position: absolute;
  left: 22%;
  right: 28.5%;
}

.div_right {
  width: 25%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 30px;
}

.div_banner {
  background-color: #FFFFFF;
  width: 100%;
  height: 150px;
  margin: 30px auto;
  border-radius: 5px;
}
.div_banner .banner_img {
  width: 100%;
  height: 100%;
}

a.logo_index {
  font-size: 25pt;
  display: flex;
  justify-content: center;
  padding-top: 8%;
  padding-bottom: 10%;
  color: #F2A1A1;
}

.meunContent {
  padding-left: 15%;
}

.index_profilePhoto {
  border-radius: 50%;
  border: 1px #F2A1A1 solid;
  display: flex;
  width: 150px;
  height: 150px;
}

.index_profilePhotoDefault {
  border: 1px #000000 solid !important;
  filter: invert(95%) sepia(69%) saturate(1835%) hue-rotate(293deg) brightness(99%) contrast(91%);
}

.index_nickName {
  font-size: 20pt;
  color: #F2A1A1;
  padding: 20px 0 20px 0;
}

.index_status {
  height: 35px;
  width: 120px;
  border: 1px solid #E8E8E8;
  border-radius: 50px;
  font-size: 14pt;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0px;
  list-style: none;
}
.index_status li {
  height: 40px;
  width: 120px;
  border: 1px solid #E8E8E8;
  font-size: 14pt;
  text-align: center;
  z-index: 2;
  float: left;
  display: none;
  background: white;
  padding: 5px 0px;
  cursor: pointer;
}
.index_status li:nth-child(2) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.index_status li:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.index_status .index_status_select {
  cursor: pointer;
  margin: 5px 0 0 0;
  width: 100%;
}
.index_status .index_status_select:after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 20px;
  height: 22px;
  background-image: url("../../images/arrow_drop_down.svg");
  background-size: 30px;
  filter: invert(91%) sepia(6%) saturate(218%) hue-rotate(138deg) brightness(82%) contrast(85%);
}
.index_status .index_status_select_up:after {
  background-image: url("../../images/arrow_drop_up.svg") !important;
}

.index_online {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #8AD98A;
  vertical-align: middle;
  margin: 0 5px 5px -20px;
}

.index_offline {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #E8E8E8;
  vertical-align: middle;
  margin: 0 5px 5px -20px;
}

.index_buzy {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: red;
  vertical-align: middle;
  margin: 0 5px 5px -20px;
}

.index_menu {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.index_menu input {
  font-size: 16pt;
  color: #000000;
  position: relative;
  bottom: 50%;
  right: 5%;
  font-weight: 600;
}
.index_menu .index_menuLink {
  width: 100px;
  height: 30px;
  margin: 5px 0;
}
.index_menu .index_menuTextBackground {
  width: 90%;
  height: 70%;
  border-radius: 25px;
  position: relative;
  top: 20%;
}
.index_menu .index_menuTextBackground_color {
  background-color: #FFE5E5;
}
.index_menu .index_menuText {
  font-size: 16pt;
  color: #000000;
  position: relative;
  bottom: 50%;
  right: 5%;
  font-weight: 600;
  display: block;
  cursor: pointer;
}

.lSAction > .lSPrev {
  background-position: -2px -4px;
  left: 10px;
  background-color: #F2A1A1;
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid #F2A1A1;
}

.lSAction > .lSNext {
  background-position: -38px -4px;
  right: 10px;
  background-color: #F2A1A1;
  border-radius: 50%;
  box-sizing: border-box;
  border: 4px solid #F2A1A1;
}

/*----------------------------------- 好友列表 -----------------------------------*/
.div_friend {
  background-color: #FFFFFF;
  width: 100%;
  height: 75%;
  border-radius: 5px;
}
.div_friend .friend_container {
  padding: 20px 30px;
  height: 100%;
}
.div_friend .friend_container .friend_search_container {
  overflow: hidden;
  border-radius: 50px;
  border: 1px solid #BFBFBF;
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}
.div_friend .friend_container .friend_search_container .friend_search {
  font-size: 17px;
  border: none;
  width: 85%;
  height: 100%;
  font-weight: 400;
  padding-left: 0 !important;
}
.div_friend .friend_container .friend_search_container .SearchIcon {
  filter: invert(95%) sepia(69%) saturate(1835%) hue-rotate(293deg) brightness(99%) contrast(91%);
  height: 25px;
}
.div_friend .friend_container .friend_content {
  width: 100%;
  height: 90%;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 10px 0;
}
.div_friend .friend_container .friend_content::-webkit-scrollbar-track {
  background-color: #E8E8E8;
  border-radius: 10px;
}
.div_friend .friend_container .friend_content::-webkit-scrollbar {
  width: 10px;
}
.div_friend .friend_container .friend_content::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.div_friend .friend_container .friend_content .friend {
  display: flex;
  align-content: center;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.2s linear;
  border-radius: 10px;
}
.div_friend .friend_container .friend_content .friend:hover {
  background: #E8E8E8;
  transition: all 0.2s linear;
}
.div_friend .friend_container .friend_content .friend .friend_img_container {
  width: 35px;
  height: 35px;
  position: relative;
}
.div_friend .friend_container .friend_content .friend .friend_img_container .friend_img_status_color {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  vertical-align: middle;
  bottom: 8px;
  right: 8px;
  transform: translate(75%, 75%);
  position: absolute;
  z-index: 999;
}
.div_friend .friend_container .friend_content .friend .friend_img_container .friend_img_status_color_1 {
  background-color: #8AD98A;
}
.div_friend .friend_container .friend_content .friend .friend_img_container .friend_img_status_color_2 {
  background-color: red;
}
.div_friend .friend_container .friend_content .friend .friend_img_container .friend_img_status_color_3 {
  background-color: #E8E8E8;
}
.div_friend .friend_container .friend_content .friend .friend_img_container .friend_img {
  border-radius: 50%;
  border: 1px #F2A1A1 solid;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.div_friend .friend_container .friend_content .friend .friend_name {
  font-size: 12pt;
  display: flex;
  align-items: center;
  padding-left: 15px;
}

@charset "UTF-8";html{height:100%;margin:0;}body{font-family:Arial,"Microsoft JhengHei";background-color:#fcd4d5;height:100%;margin:0;font-weight:600;overflow-x:hidden;overflow-y:auto;-moz-user-select:auto;-webkit-user-select:auto;-ms-user-select:auto;user-select:auto;}body::-webkit-scrollbar-track{background-color:#e8e8e8;}body::-webkit-scrollbar{width:10px;}body::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,.2);border-radius:10px;}.btn_div{display:flex;align-content:center;justify-content:center;margin-top:20px;}a{text-decoration:none;}a.logo{font-size:40pt;margin:auto;display:flex;justify-content:center;padding-top:8%;padding-bottom:3%;color:#f2a1a1;}input{font-weight:600;}.div_menu>a,.index_status_select,.index_menuText,.deploy_post_title,.postAction{-moz-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none;}input[type=text],input[type=password]{-moz-user-select:text;-webkit-user-select:text;-ms-user-select:text;user-select:text;}input[type=text],input[type=password],#infoEducation{height:50px;border-radius:5px;border:1px solid #fcd4d5;font-size:15pt;margin-top:2px;outline:0;padding-left:15px;}input[type=text]:focus,input[type=password]:focus{border:1px solid #f2a1a1;}input[type=button]{border:0;cursor:pointer;}input[type=date]{height:45px;border-radius:5px;border:1px solid #fcd4d5;font-size:15pt;margin-top:2px;outline:0;padding-left:12px;padding-right:5px;}input[type=date]:focus{border:1px solid #f2a1a1;}input[type=date]::-webkit-calendar-picker-indicator{background-image:url("/Image/date.png");background-repeat:no-repeat;}.member_layout_background{width:500px;height:100%;background-color:#fff;margin:0 auto;}.member_layout_Box{padding-top:35%;}.popLayer{display:none;background-color:rgba(0,0,0,.32);position:absolute;top:0;right:0;bottom:0;left:0;}.popBox{display:none;background-color:#fff;border:1px solid #d68d8d;border-radius:10px;position:fixed;top:0;right:0;left:0;bottom:0;margin:auto;}.InfoStyle{width:700px;height:490px;}.topBar{height:50px;display:flex;justify-content:center;margin-bottom:8%;}.closeIcon{width:50px;height:50px;filter:invert(95%) sepia(69%) saturate(1835%) hue-rotate(293deg) brightness(99%) contrast(91%);position:absolute;right:0;cursor:pointer;}.closeIcon:hover{filter:invert(88%) sepia(50%) saturate(878%) hue-rotate(294deg) brightness(93%) contrast(79%);}.popTitle{color:#d68d8d;font-size:25pt;font-weight:700;position:absolute;padding-top:35px;}.Error,.Info{width:300px;height:200px;}.btn_Error{width:130px;height:50px;font-size:15pt;border-radius:5px;background-color:#f2a1a1;color:#fff;font-weight:700;outline:0;}.btn_Error:hover{border:1px solid #fff;}.ErrorText{display:flex;justify-content:center;margin-top:10%;font-size:15pt;color:#f00;font-weight:600;text-align:center;height:80px;align-items:center;}.InfoText{display:flex;justify-content:center;margin-top:10%;font-size:15pt;color:#000;font-weight:600;text-align:center;height:80px;align-items:center;}.PromptText{color:#bfbfbf;font-size:12pt;}.input-error{border:2px solid #f00!important;}.swal2-styled.swal2-confirm{width:130px!important;height:50px!important;font-size:18pt!important;border-radius:5px!important;background-color:#f2a1a1!important;color:#fff!important;font-weight:700!important;border:0!important;}.swal2-styled.swal2-confirm:focus{box-shadow:none!important;}.swal2-html-container{font-size:1.5em!important;font-weight:600!important;}.swal2-styled.swal2-cancel{width:130px!important;height:50px!important;font-size:18pt!important;border-radius:5px!important;}.swal2-styled{padding:0!important;}.ui-widget-content{background:#fff;border:0;box-shadow:1px 1px 3px 1px #f2a1a1;}.ui-widget-header{border:0;background:#fcd4d5;}.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{background:#fff3f3;border:0;border-radius:3px;text-align:center;}.ui-state-default:hover{background:#f2a1a1;color:#fff;}.ui-datepicker select.ui-datepicker-month,.ui-datepicker select.ui-datepicker-year{width:35%;border-radius:5px;margin:0 5px;border:0;}.ui-datepicker-year::-webkit-scrollbar-thumb{display:none;}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:0;background:#f2a1a1;top:3px;}.ui-datepicker .ui-datepicker-prev-hover{left:3px;}.ui-datepicker .ui-datepicker-next-hover{right:3px;}.inputContent{display:flex;align-items:center;justify-content:left;margin:3% 9%;}.inputContent .inputContentText{width:100px;height:30px;}.inputContent .inputContentText .inputTextBackground{width:90%;height:70%;background-color:#ffe5e5;border-radius:25px;position:relative;top:20%;}.inputContent .inputContentText .inputTextBackground .inputText{font-size:16pt;color:#000;position:relative;bottom:50%;right:5%;font-weight:600;}.btn_sm_submit{width:130px;height:50px;font-size:15pt;border-radius:5px;background-color:#f2a1a1;color:#fff;font-weight:700;outline:0;}.div_menu{background-color:#fff;width:20%;height:100%;position:fixed;top:0;left:0;}.div_content{height:100%;position:absolute;left:22%;right:28.5%;}.div_right{width:25%;height:100%;position:fixed;top:0;right:30px;}.div_banner{background-color:#fff;width:100%;height:150px;margin:30px auto;border-radius:5px;}.div_banner .banner_img{width:100%;height:100%;}a.logo_index{font-size:25pt;display:flex;justify-content:center;padding-top:8%;padding-bottom:10%;color:#f2a1a1;}.meunContent{padding-left:15%;}.index_profilePhoto{border-radius:50%;border:1px #f2a1a1 solid;display:flex;width:150px;height:150px;}.index_profilePhotoDefault{border:1px #000 solid!important;filter:invert(95%) sepia(69%) saturate(1835%) hue-rotate(293deg) brightness(99%) contrast(91%);}.index_nickName{font-size:20pt;color:#f2a1a1;padding:20px 0 20px 0;}.index_status{height:35px;width:120px;border:1px solid #e8e8e8;border-radius:50px;font-size:14pt;text-align:center;display:flex;align-items:center;flex-direction:column;justify-content:flex-start;padding-left:0;list-style:none;}.index_status li{height:40px;width:120px;border:1px solid #e8e8e8;font-size:14pt;text-align:center;z-index:2;float:left;display:none;background:#fff;padding:5px 0;cursor:pointer;}.index_status li:nth-child(2){border-top-left-radius:10px;border-top-right-radius:10px;}.index_status li:last-child{border-bottom-left-radius:10px;border-bottom-right-radius:10px;}.index_status .index_status_select{cursor:pointer;margin:5px 0 0 0;width:100%;}.index_status .index_status_select:after{display:inline-block;position:absolute;content:"";width:20px;height:22px;background-image:url("../../images/arrow_drop_down.svg");background-size:30px;filter:invert(91%) sepia(6%) saturate(218%) hue-rotate(138deg) brightness(82%) contrast(85%);}.index_status .index_status_select_up:after{background-image:url("../../images/arrow_drop_up.svg")!important;}.index_online{display:inline-block;width:1em;height:1em;border-radius:50%;background-color:#8ad98a;vertical-align:middle;margin:0 5px 5px -20px;}.index_offline{display:inline-block;width:1em;height:1em;border-radius:50%;background-color:#e8e8e8;vertical-align:middle;margin:0 5px 5px -20px;}.index_buzy{display:inline-block;width:1em;height:1em;border-radius:50%;background-color:#f00;vertical-align:middle;margin:0 5px 5px -20px;}.index_menu{display:flex;flex-direction:column;flex-wrap:nowrap;align-items:flex-start;}.index_menu input{font-size:16pt;color:#000;position:relative;bottom:50%;right:5%;font-weight:600;}.index_menu .index_menuLink{width:100px;height:30px;margin:5px 0;}.index_menu .index_menuTextBackground{width:90%;height:70%;border-radius:25px;position:relative;top:20%;}.index_menu .index_menuTextBackground_color{background-color:#ffe5e5;}.index_menu .index_menuText{font-size:16pt;color:#000;position:relative;bottom:50%;right:5%;font-weight:600;display:block;cursor:pointer;}.lSAction>.lSPrev{background-position:-2px -4px;left:10px;background-color:#f2a1a1;border-radius:50%;box-sizing:border-box;border:4px solid #f2a1a1;}.lSAction>.lSNext{background-position:-38px -4px;right:10px;background-color:#f2a1a1;border-radius:50%;box-sizing:border-box;border:4px solid #f2a1a1;}.div_friend{background-color:#fff;width:100%;height:75%;border-radius:5px;}.div_friend .friend_container{padding:20px 30px;height:100%;}.div_friend .friend_container .friend_search_container{overflow:hidden;border-radius:50px;border:1px solid #bfbfbf;width:100%;height:30px;display:flex;justify-content:center;align-items:center;margin-bottom:5px;}.div_friend .friend_container .friend_search_container .friend_search{font-size:17px;border:0;width:85%;height:100%;font-weight:400;padding-left:0!important;}.div_friend .friend_container .friend_search_container .SearchIcon{filter:invert(95%) sepia(69%) saturate(1835%) hue-rotate(293deg) brightness(99%) contrast(91%);height:25px;}.div_friend .friend_container .friend_content{width:100%;height:90%;overflow-x:hidden;overflow-y:auto;margin:10px 0;}.div_friend .friend_container .friend_content::-webkit-scrollbar-track{background-color:#e8e8e8;border-radius:10px;}.div_friend .friend_container .friend_content::-webkit-scrollbar{width:10px;}.div_friend .friend_container .friend_content::-webkit-scrollbar-thumb{background-color:rgba(0,0,0,.2);border-radius:10px;}.div_friend .friend_container .friend_content .friend{display:flex;align-content:center;padding:5px 10px;cursor:pointer;transition:all .2s linear;border-radius:10px;}.div_friend .friend_container .friend_content .friend:hover{background:#e8e8e8;transition:all .2s linear;}.div_friend .friend_container .friend_content .friend .friend_img_container{width:35px;height:35px;position:relative;}.div_friend .friend_container .friend_content .friend .friend_img_container .friend_img_status_color{width:8px;height:8px;border-radius:50%;border:2px solid #fff;vertical-align:middle;bottom:8px;right:8px;transform:translate(75%,75%);position:absolute;z-index:999;}.div_friend .friend_container .friend_content .friend .friend_img_container .friend_img_status_color_1{background-color:#8ad98a;}.div_friend .friend_container .friend_content .friend .friend_img_container .friend_img_status_color_2{background-color:#f00;}.div_friend .friend_container .friend_content .friend .friend_img_container .friend_img_status_color_3{background-color:#e8e8e8;}.div_friend .friend_container .friend_content .friend .friend_img_container .friend_img{border-radius:50%;border:1px #f2a1a1 solid;width:100%;height:100%;box-sizing:border-box;}.div_friend .friend_container .friend_content .friend .friend_name{font-size:12pt;display:flex;align-items:center;padding-left:15px;}
.load {
  padding: 50px 0;
}
.load .load_Body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.load .load_Body div {
  width: 20px;
  height: 20px;
  background-color: #F2A1A1;
  border-radius: 50%;
  margin: 0 5px;
  animation-name: up-and-down;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.load .load_Body .two {
  animation-delay: 0.3s;
}
.load .load_Body .three {
  animation-delay: 0.6s;
}
@keyframes up-and-down {
  to {
    opacity: 0.2;
    transform: translateY(-20px);
  }
}

.load{padding:50px 0;}.load .load_Body{display:flex;justify-content:center;align-items:center;}.load .load_Body div{width:20px;height:20px;background-color:#f2a1a1;border-radius:50%;margin:0 5px;animation-name:up-and-down;animation-duration:.8s;animation-iteration-count:infinite;animation-direction:alternate;}.load .load_Body .two{animation-delay:.3s;}.load .load_Body .three{animation-delay:.6s;}@keyframes up-and-down{to{opacity:.2;transform:translateY(-20px);}}
.div_post {
  width: 100%;
  padding-bottom: 25px;
  border-radius: 5px;
}

.postPhoto_container {
  width: 50px;
}

.postPhoto {
  border-radius: 50%;
  border: 1px #F2A1A1 solid;
  width: 100%;
  height: 100%;
}

.post_content_topBar {
  width: 100%;
  padding: 10px;
  display: flex;
}
.post_content_topBar .postProfile {
  margin-left: 15px;
  font-size: 13pt;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.post_content_topBar .postProfile .time {
  padding-top: 5px;
  color: #AAAAAA;
  font-size: 11pt;
}
.post_content_topBar .postAction {
  width: 50px;
  height: 40px;
  position: absolute;
  right: 1%;
  cursor: pointer;
  border-radius: 50px;
  font-size: 24pt;
  text-align: center;
  color: #B2BABB;
}
.post_content_topBar .postAction > span:hover {
  color: #99A3A4;
}
.post_content_topBar .postAction .ul_postAction {
  display: none;
  position: absolute;
  z-index: 1000;
  min-width: 80px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  border: 1px #F2A1A1 solid;
  border-radius: 5px;
  font-size: 25px;
  top: 5px;
  left: 45px;
}

.post_body {
  padding: 0 30px 10px 75px;
  width: 80%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
}

#wrapper {
  width: 80%;
  margin: 0 auto;
}

.div_post_content {
  margin: 2px auto;
  background-color: #FFFFFF;
  border-radius: 5px;
}

.post_footerBar {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
}
.post_footerBar .post_footer_container {
  width: 6%;
  text-align: center;
  display: flex;
  margin: 0 15px;
}
.post_footerBar .post_footer_container .post_footer_img {
  margin: 0 5px;
}
.post_footerBar .post_footer_container .post_footer_number {
  font-size: 14pt;
  text-align: center;
  display: flex;
  align-items: center;
}
.post_footerBar .post_footer_container .postLike, .post_footerBar .post_footer_container .postMsg {
  width: 30px;
  height: 30px;
  filter: invert(91%) sepia(6%) saturate(218%) hue-rotate(138deg) brightness(82%) contrast(85%);
  cursor: pointer;
}
.post_footerBar .post_footer_container .postLike:hover, .post_footerBar .post_footer_container .postMsg:hover {
  filter: invert(75%) sepia(18%) saturate(105%) hue-rotate(137deg) brightness(83%) contrast(90%);
}
.post_footerBar .post_footer_container .postShare {
  width: 30px;
  height: 30px;
  filter: invert(95%) sepia(69%) saturate(1835%) hue-rotate(293deg) brightness(99%) contrast(91%);
  cursor: pointer;
}
.post_footerBar .post_footer_container .postShare:hover {
  filter: invert(88%) sepia(50%) saturate(878%) hue-rotate(294deg) brightness(93%) contrast(79%);
}

.post_msgPhoto_container {
  width: 40px;
}

.post_msgPhoto {
  border-radius: 50%;
  border: 1px #F2A1A1 solid;
  width: 40px;
  height: 100%;
}

.div_post_msg_send {
  background-color: #FFFFFF;
  border-radius: 5px;
  display: flex;
  border-left: 8px solid #D68D8D;
  height: 100%;
  padding: 5px;
  align-items: center;
  margin: 2px auto;
}
.div_post_msg_send > div {
  padding: 5px;
}
.div_post_msg_send .post_msg_comment {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 89%;
}
.div_post_msg_send .post_msg_comment .msgComment {
  overflow: hidden;
  resize: none;
  font-size: 20px;
  border-radius: 10px;
  border: 1px solid #F2A1A1;
  width: 100%;
  height: 50px;
  padding-left: 10px;
}
.div_post_msg_send .msgComment:focus {
  outline: none !important;
  border: 1px solid #D68D8D;
  box-shadow: 0 0 5px #D68D8D;
}

.post_msg_submit {
  width: 30px;
  position: absolute;
  right: 1%;
}
.post_msg_submit .msgSend {
  width: 30px;
  height: 30px;
  filter: invert(95%) sepia(69%) saturate(1835%) hue-rotate(293deg) brightness(99%) contrast(91%);
  cursor: pointer;
}
.post_msg_submit .msgSend:hover {
  filter: invert(88%) sepia(50%) saturate(878%) hue-rotate(294deg) brightness(93%) contrast(79%);
}

.div_post_moreMsg {
  background-color: #FFFFFF;
  border-radius: 5px;
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px auto;
  font-size: 20px;
  font-weight: 600;
}
.div_post_moreMsg .container_moreMsg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.div_post_moreMsg .container_moreMsg .moreMsg {
  height: 25px;
  width: 25px;
  filter: invert(95%) sepia(69%) saturate(1835%) hue-rotate(293deg) brightness(99%) contrast(91%);
  cursor: pointer;
}
.div_post_moreMsg .container_moreMsg > span {
  color: #F2A1A1;
  cursor: pointer;
}
.div_post_moreMsg .container_moreMsg:hover .moreMsg {
  filter: invert(88%) sepia(50%) saturate(878%) hue-rotate(294deg) brightness(93%) contrast(79%);
}
.div_post_moreMsg .container_moreMsg:hover > span {
  color: #D68D8D;
}

.div_post_msg {
  background-color: #FFFFFF;
  border-radius: 5px;
  display: flex;
  border-left: 8px solid #F2A1A1;
  height: 100%;
  padding: 5px;
  align-items: center;
  margin: 2px auto;
}
.div_post_msg .postMsgProfile {
  margin-left: 15px;
  font-size: 13pt;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.div_post_msg .postMsgProfile .msgContent {
  font-size: 12pt;
  font-weight: 400;
  padding-left: 5px;
}
.div_post_msg .postMsgProfile .time {
  padding-top: 10px;
  color: #AAAAAA;
  font-size: 11pt;
}
.div_post_msg .postMsgComment {
  width: 80%;
  font-size: 16px;
}

.div_post{width:100%;padding-bottom:25px;border-radius:5px;}.postPhoto_container{width:50px;}.postPhoto{border-radius:50%;border:1px #f2a1a1 solid;width:100%;height:100%;}.post_content_topBar{width:100%;padding:10px;display:flex;}.post_content_topBar .postProfile{margin-left:15px;font-size:13pt;font-weight:600;display:flex;flex-direction:column;justify-content:center;}.post_content_topBar .postProfile .time{padding-top:5px;color:#aaa;font-size:11pt;}.post_content_topBar .postAction{width:50px;height:40px;position:absolute;right:1%;cursor:pointer;border-radius:50px;font-size:24pt;text-align:center;color:#b2babb;}.post_content_topBar .postAction>span:hover{color:#99a3a4;}.post_content_topBar .postAction .ul_postAction{display:none;position:absolute;z-index:1000;min-width:80px;padding:5px 0;margin:2px 0 0;list-style:none;border:1px #f2a1a1 solid;border-radius:5px;font-size:25px;top:5px;left:45px;}.post_body{padding:0 30px 10px 75px;width:80%;height:100%;font-weight:400;font-size:16px;}#wrapper{width:80%;margin:0 auto;}.div_post_content{margin:2px auto;background-color:#fff;border-radius:5px;}.post_footerBar{width:100%;padding:10px;display:flex;justify-content:flex-start;}.post_footerBar .post_footer_container{width:6%;text-align:center;display:flex;margin:0 15px;}.post_footerBar .post_footer_container .post_footer_img{margin:0 5px;}.post_footerBar .post_footer_container .post_footer_number{font-size:14pt;text-align:center;display:flex;align-items:center;}.post_footerBar .post_footer_container .postLike,.post_footerBar .post_footer_container .postMsg{width:30px;height:30px;filter:invert(91%) sepia(6%) saturate(218%) hue-rotate(138deg) brightness(82%) contrast(85%);cursor:pointer;}.post_footerBar .post_footer_container .postLike:hover,.post_footerBar .post_footer_container .postMsg:hover{filter:invert(75%) sepia(18%) saturate(105%) hue-rotate(137deg) brightness(83%) contrast(90%);}.post_footerBar .post_footer_container .postShare{width:30px;height:30px;filter:invert(95%) sepia(69%) saturate(1835%) hue-rotate(293deg) brightness(99%) contrast(91%);cursor:pointer;}.post_footerBar .post_footer_container .postShare:hover{filter:invert(88%) sepia(50%) saturate(878%) hue-rotate(294deg) brightness(93%) contrast(79%);}.post_msgPhoto_container{width:40px;}.post_msgPhoto{border-radius:50%;border:1px #f2a1a1 solid;width:40px;height:100%;}.div_post_msg_send{background-color:#fff;border-radius:5px;display:flex;border-left:8px solid #d68d8d;height:100%;padding:5px;align-items:center;margin:2px auto;}.div_post_msg_send>div{padding:5px;}.div_post_msg_send .post_msg_comment{display:flex;justify-content:center;height:100%;width:89%;}.div_post_msg_send .post_msg_comment .msgComment{overflow:hidden;resize:none;font-size:20px;border-radius:10px;border:1px solid #f2a1a1;width:100%;height:50px;padding-left:10px;}.div_post_msg_send .msgComment:focus{outline:0!important;border:1px solid #d68d8d;box-shadow:0 0 5px #d68d8d;}.post_msg_submit{width:30px;position:absolute;right:1%;}.post_msg_submit .msgSend{width:30px;height:30px;filter:invert(95%) sepia(69%) saturate(1835%) hue-rotate(293deg) brightness(99%) contrast(91%);cursor:pointer;}.post_msg_submit .msgSend:hover{filter:invert(88%) sepia(50%) saturate(878%) hue-rotate(294deg) brightness(93%) contrast(79%);}.div_post_moreMsg{background-color:#fff;border-radius:5px;height:40px;padding:5px;display:flex;justify-content:center;align-items:center;margin:2px auto;font-size:20px;font-weight:600;}.div_post_moreMsg .container_moreMsg{display:flex;justify-content:center;align-items:center;}.div_post_moreMsg .container_moreMsg .moreMsg{height:25px;width:25px;filter:invert(95%) sepia(69%) saturate(1835%) hue-rotate(293deg) brightness(99%) contrast(91%);cursor:pointer;}.div_post_moreMsg .container_moreMsg>span{color:#f2a1a1;cursor:pointer;}.div_post_moreMsg .container_moreMsg:hover .moreMsg{filter:invert(88%) sepia(50%) saturate(878%) hue-rotate(294deg) brightness(93%) contrast(79%);}.div_post_moreMsg .container_moreMsg:hover>span{color:#d68d8d;}.div_post_msg{background-color:#fff;border-radius:5px;display:flex;border-left:8px solid #f2a1a1;height:100%;padding:5px;align-items:center;margin:2px auto;}.div_post_msg .postMsgProfile{margin-left:15px;font-size:13pt;font-weight:600;display:flex;flex-direction:column;justify-content:center;}.div_post_msg .postMsgProfile .msgContent{font-size:12pt;font-weight:400;padding-left:5px;}.div_post_msg .postMsgProfile .time{padding-top:10px;color:#aaa;font-size:11pt;}.div_post_msg .postMsgComment{width:80%;font-size:16px;}