<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="/images/Logo/logo_favicon.svg" />

    @*JQuery*@
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui/dist/jquery-ui.min.js" asp-append-version="true"></script>
    <link href="~/lib/jquery-ui/dist/themes/base/jquery-ui.min.css" rel="stylesheet" asp-append-version="true" />

    @*SweetAlert*@
    <script src="~/lib/sweetalert2/dist/sweetalert2.min.js" asp-append-version="true"></script>
    <link href="~/lib/sweetalert2/dist/sweetalert2.min.css" rel="stylesheet" asp-append-version="true" />

    @*Lightslider*@
    <script src="~/lib/lightslider/dist/js/lightslider.min.js" asp-append-version="true"></script>
    <link href="~/lib/lightslider/dist/css/lightslider.min.css" rel="stylesheet" asp-append-version="true" />

    <environment include="Development">
        <script src="~/js/Common/API.js" asp-append-version="true"></script>
        <script src="~/js/Common/ChatHubConnection.js" asp-append-version="true"></script>
        <script src="~/js/Common/Common.js" asp-append-version="true"></script>
        <script src="~/js/Common/Enum.js" asp-append-version="true"></script>
        <script src="~/js/Common/Friend.js" asp-append-version="true"></script>
        <script src="~/js/Common/Post.js" asp-append-version="true"></script>
        <script src="~/js/Common/Request.js" asp-append-version="true"></script>
        <script src="~/js/Common/Response.js" asp-append-version="true"></script>
        <script src="~/js/Common/ViewModel.js" asp-append-version="true"></script>
        <link href="~/css/bundle/Common.css" rel="stylesheet" asp-append-version="true" />
    </environment>
    <environment exclude="Development">
        <script src="~/js/bundle/Common.min.js" asp-append-version="true"></script>
        <link href="~/css/bundle/Common.min.css" rel="stylesheet" asp-append-version="true" />
    </environment>
</head>
<body style="height: 100% !important">
    @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
    <input id="RequestVerificationToken" type="hidden" value="@Antiforgery.GetAndStoreTokens(Context).RequestToken" />

    <div class="member_layout_background">
        <div class="member_layout_Box">
            @*            <div style="display:flex; justify-content:center;margin-bottom: 10%;">
            <img src="~/images/Logo/logo.svg" style="width: 50%;" />
            </div>*@
            <a class="logo">I K K O N</a>
            @RenderBody()
        </div>
    </div>
</body>
</html>
