$Color_PK0: #FCD4D5; // 頁面背景色 (淺粉紅1)
$Color_PK1: #D68D8D; // 文字、輸入框 (暗粉紅2) (最暗)
$Color_PK2: #F2A1A1; // 按鈕、ICON (暗粉紅1)
$Color_PK3: #FFE5E5; // 文字底色 (淺粉紅2)
$Color_PK4: #FFF3F3; // Hover(淺粉紅3) (最淺)

$Color_W1: #FFFFFF; // 背景色、文字、ICON (白)

$Color_G1: #E8E8E8; // 分隔線、狀態
$Color_G2: #BFBFBF; // 提示文字、按鈕、ICON
$Color_G3: #AAAAAA; // 按鈕
$Color_G4: #B2BABB; // ICON
$Color_G5: #99A3A4; // ICON Hover
$Color_G6: #bdbdbd; // 按鈕 (較淺)

$Color_B1: #000000; // 陰影、文字 (黑)

$Color_R1: #FF5A5A; // 警示文字
$Color_R2: #FF7979; // 狀態

$Color_GN1: #8AD98A; // 按鈕、狀態

$Color_PK1_Filter: invert(88%) sepia(50%) saturate(878%) hue-rotate(294deg) brightness(93%) contrast(79%);
$Color_PK2_Filter: invert(95%) sepia(69%) saturate(1835%) hue-rotate(293deg) brightness(99%) contrast(91%);
$Color_G4_Filter: invert(91%) sepia(6%) saturate(218%) hue-rotate(138deg) brightness(82%) contrast(85%);
$Color_G5_Filter: invert(75%) sepia(18%) saturate(105%) hue-rotate(137deg) brightness(83%) contrast(90%);
$Color_W1_Filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(271deg) brightness(106%) contrast(103%);