html {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial,"Microsoft JhengHei";
    background-color: #FCD4D5;
    height: 100%;
    margin: 0;
}

.btn_div {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

.logo {
    font-size: 40pt;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 3%;
    color: #f2a1a1;
}

input[type="text"], input[type="password"] {
    height: 50px;
    border-radius: 5px;
    border: 1px solid #FCD4D5;
    font-size: 15pt;
    margin-top: 2px;
    outline: 0;
    padding-left: 15px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid #F2A1A1;
}


input[type="button"] {
    border: none;
    cursor: pointer;
}

input[type="date"] {
    height: 45px;
    border-radius: 5px;
    border: 1px solid #FCD4D5;
    font-size: 15pt;
    margin-top: 2px;
    outline: 0;
    padding-left: 12px;
    padding-right: 5px;
}

input[type="date"]:focus {
    border: 1px solid #F2A1A1;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('/Image/date.png');
    background-repeat: no-repeat;
}

.member_layout_background {
    width: 500px;
    height: 100%;
    background-color: #FFFFFF;
    margin: 0px auto;
}

.member_layout_Box {
    padding-top: 35%;
}

/*POP背景遮罩*/
.popLayer {
    display: none;
    background-color: rgba(#000000, 0.32);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*POP彈窗樣式*/
.popBox {
    display: none;
    background-color: #FFFFFF;
    border: 1px solid #D68D8D;
    border-radius: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.InfoStyle {
    width: 700px;
    height: 490px;
}

.topBar {
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
}

.closeIcon {
    width: 50px;
    height: 50px;
    fill: #F2A1A1;
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.closeIcon:hover {
    fill: #D68D8D;
}

.popTitle {
    color: #D68D8D;
    font-size: 25pt;
    font-weight: 700;
    position: absolute;
    padding-top: 35px;
}

.Error, .Info {
    width: 300px;
    height: 200px;
}

.btn_Error {
    width: 130px;
    height: 50px;
    font-size: 15pt;
    border-radius: 5px;
    background-color: #F2A1A1;
    color: #FFFFFF;
    font-weight: 700;
    outline: 0;
}

.btn_Error:hover {
    border: 1px solid #FFFFFF;
}

.ErrorText {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 15pt;
    color: #FF5A5A;
    font-weight: 600;
    text-align: center;
    height: 80px;
    align-items: center;
}

.InfoText {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 15pt;
    color: black;
    font-weight: 600;
    text-align: center;
    height: 80px;
    align-items: center;
}

.PromptText {
    color: #BFBFBF;
    font-size: 12pt;
}

.input-error {
    border: 2px solid red !important;
}

/* 客製化 SweetAlert2 */
.swal2-styled.swal2-confirm {
    width: 130px !important;
    height: 50px !important;
    font-size: 15pt !important;
    border-radius: 5px !important;
    background-color: #F2A1A1 !important;
    color: #FFFFFF !important;
    font-weight: 700 !important;
    border: none !important;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: none !important;
}

.swal2-html-container {
    font-size: 1.5em !important;
    font-weight: 600 !important;
}

/* 客製化 JQuery DatePicker*/
.ui-widget-content {
    background: #FFFFFF;
    border: none;
    box-shadow: 1px 1px 3px 1px #F2A1A1;
}

.ui-widget-header {
    border: none;
    background: #FCD4D5;
}

.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #FFF3F3;
    border: none;
    border-radius: 3px;
    text-align: center;
}

.ui-state-default:hover {
    background: #f2a1a1;
    color: #FFFFFF;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 35%;
    border-radius: 5px;
    margin: 0px 5px;
    border: none;
}

.ui-datepicker-year::-webkit-scrollbar-thumb {
    display: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: none;
    background: #f2a1a180;
    top: 3px;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 3px;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 3px;
}


.inputContent {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 3% 9%;

    .inputContentText {
        width: 100px;
        height: 30px;

        .inputTextBackground {
            width: 90%;
            height: 70%;
            background-color: #ffe9e9;
            border-radius: 25px;
            position: relative;
            top: 20%;

            .inputText {
                font-size: 16pt;
                color: #4E4E4E;
                position: relative;
                bottom: 50%;
                right: 5%;
                font-weight: 600;
            }
        }
    }
}

.btn_sm_submit {
    width: 130px;
    height: 50px;
    font-size: 15pt;
    border-radius: 5px;
    background-color: #F2A1A1;
    color: #FFFFFF;
    font-weight: 700;
    outline: 0;
}

.div_menu {
    background-color: #ffffff;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.div_content {
    height: 100%;
    position: absolute;
    left: 22%;
    right: 28.5%;
}

.div_right {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 30px;
}

.div_banner {
    background-color: #ffffff;
    width: 100%;
    height: 150px;
    margin: 30px auto;
    border-radius: 5px;
}

.div_friend {
    background-color: #ffffff;
    width: 100%;
    height: 74.5%;
    border-radius: 5px;
}

.div_mypost {
    background-color: #ffffff;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    border-radius: 5px;
}

.div_post {
    background-color: #ffffff;
    width: 100%;
    height: 85px;
    margin-top: 30px;
    border-radius: 5px;
}

.logo_index {
    font-size: 25pt;
    display: flex;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 10%;
    color: #f2a1a1;
}

.meunContent {
    padding-left: 15%;
}

.btn_singout {
    color: #808080;
    font-size: 12pt;
    text-align: left;
    padding: 0px;
    display: flex;
    margin-top: 50%;
}


.index_profilePhoto {
    border-radius: 50%;
    border: 1px #f2a1a1 solid;
    display: flex;
    width: 40%;
    height: 50%;
    fill: #f2a1a1;
}

.index_nickName {
    font-size: 20pt;
    color: #f2a1a1;
    padding: 20px 0 20px 0;
}

.index_status {
    height: 40px;
    width: 120px;
    border: 1px solid #E8E8E8;
    border-radius: 50px;
    font-size: 14pt;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    li {
        height: 40px;
        width: 120px;
        border: 1px solid #E8E8E8;
        font-size: 14pt;
        text-align: center;
        z-index: 2;
        float: left;
        display: none;
        background: white;
        padding: 5px 0px;
        cursor: pointer;
    }

    li: hover, li:selected {
        background: #FCD4D5;
    }

    li:nth-child(2) {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    li:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .index_status_select {
        cursor: pointer;
        padding: 5px 0px;
        width: 100%;
    }
}

.index_online {
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color: #8AD98A;
    border: 1px solid #E8E8E8;
    margin-right: 5px;
    margin-left: -20px;
}

.index_offline {
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color: white;
    border: 1px solid #E8E8E8;
    margin-right: 5px;
    margin-left: -20px;
}

.index_buzy {
    display: inline-block;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color: red;
    border: 1px solid #E8E8E8;
    margin-right: 5px;
    margin-left: -20px;
}

.index_menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;

    input {
        font-size: 16pt;
        color: #4E4E4E;
        position: relative;
        bottom: 50%;
        right: 5%;
        font-weight: 600;
    }

    .index_menuLink {
        width: 100px;
        height: 30px;
        margin: 5px 0;
        cursor: pointer;
    }

    .index_menuTextBackground {
        width: 90%;
        height: 70%;
        background-color: #ffe9e9;
        border-radius: 25px;
        position: relative;
        top: 20%;
    }

    .index_menuText {
        font-size: 16pt;
        color: #4E4E4E;
        position: relative;
        bottom: 50%;
        right: 5%;
        font-weight: 600;
    }
}