@import 'Base.scss';

html {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial,"Microsoft JhengHei";
    background-color: $Color_PK0;
    height: 100%;
    margin: 0;
    font-weight: 600;
    overflow-x: hidden;
    overflow-y: auto;
    user-select: none;
}

//捲軸底色
body::-webkit-scrollbar-track {
    background-color: $Color_G1;
}
//捲軸寬度
body::-webkit-scrollbar {
    width: 10px;
}
//捲軸本體顏色
body::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 10px;
}

.btn_div {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

a.logo {
    font-size: 40pt;
    margin: auto;
    display: flex;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 3%;
    color: $Color_PK2;
}

input {
    font-weight: 600;
}

span, input[type="text"], input[type="password"] {
    user-select: text;
}

input[type="text"], input[type="password"] {
    height: 50px;
    border-radius: 5px;
    border: 1px solid $Color_PK0;
    font-size: 15pt;
    margin-top: 2px;
    outline: 0;
    padding-left: 15px;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid $Color_PK2;
}

input[type="button"] {
    border: none;
    cursor: pointer;
}

input[type="date"] {
    height: 45px;
    border-radius: 5px;
    border: 1px solid $Color_PK0;
    font-size: 15pt;
    margin-top: 2px;
    outline: 0;
    padding-left: 12px;
    padding-right: 5px;
}

input[type="date"]:focus {
    border: 1px solid $Color_PK2;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url('/Image/date.png');
    background-repeat: no-repeat;
}

.member_layout_background {
    width: 500px;
    height: 100%;
    background-color: $Color_W1;
    margin: 0px auto;
}

.member_layout_Box {
    padding-top: 35%;
}

/*POP背景遮罩*/
.popLayer {
    display: none;
    background-color: rgba($Color_B1, 0.32);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*POP彈窗樣式*/
.popBox {
    display: none;
    background-color: $Color_W1;
    border: 1px solid $Color_PK1;
    border-radius: 10px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
}

.InfoStyle {
    width: 700px;
    height: 490px;
}

.topBar {
    height: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
}

.closeIcon {
    width: 50px;
    height: 50px;
    filter: $Color_PK2_Filter;
    position: absolute;
    right: 0px;
    cursor: pointer;
}

.closeIcon:hover {
    filter: $Color_PK1_Filter;
}

.popTitle {
    color: $Color_PK1;
    font-size: 25pt;
    font-weight: 700;
    position: absolute;
    padding-top: 35px;
}

.Error, .Info {
    width: 300px;
    height: 200px;
}

.btn_Error {
    width: 130px;
    height: 50px;
    font-size: 15pt;
    border-radius: 5px;
    background-color: $Color_PK2;
    color: $Color_W1;
    font-weight: 700;
    outline: 0;
}

.btn_Error:hover {
    border: 1px solid $Color_W1;
}

.ErrorText {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 15pt;
    color: $Color_R1;
    font-weight: 600;
    text-align: center;
    height: 80px;
    align-items: center;
}

.InfoText {
    display: flex;
    justify-content: center;
    margin-top: 10%;
    font-size: 15pt;
    color: black;
    font-weight: 600;
    text-align: center;
    height: 80px;
    align-items: center;
}

.PromptText {
    color: $Color_G2;
    font-size: 12pt;
}

.input-error {
    border: 2px solid red !important;
}

/* 客製化 SweetAlert2 */
.swal2-styled.swal2-confirm {
    width: 130px !important;
    height: 50px !important;
    font-size: 18pt !important;
    border-radius: 5px !important;
    background-color: $Color_PK2 !important;
    color: $Color_W1 !important;
    font-weight: 700 !important;
    border: none !important;
}

.swal2-styled.swal2-confirm:focus {
    box-shadow: none !important;
}

.swal2-html-container {
    font-size: 1.5em !important;
    font-weight: 600 !important;
}

.swal2-styled.swal2-cancel {
    width: 130px !important;
    height: 50px !important;
    font-size: 18pt !important;
    border-radius: 5px !important;
}

.swal2-styled{
    padding: 0 !important;
}

/* 客製化 JQuery DatePicker*/
.ui-widget-content {
    background: $Color_W1;
    border: none;
    box-shadow: 1px 1px 3px 1px $Color_PK2;
}

.ui-widget-header {
    border: none;
    background: $Color_PK0;
}

.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: $Color_PK4;
    border: none;
    border-radius: 3px;
    text-align: center;
}

.ui-state-default:hover {
    background: $Color_PK2;
    color: $Color_W1;
}

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
    width: 35%;
    border-radius: 5px;
    margin: 0px 5px;
    border: none;
}

.ui-datepicker-year::-webkit-scrollbar-thumb {
    display: none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: none;
    background: $Color_PK2;
    top: 3px;
}

.ui-datepicker .ui-datepicker-prev-hover {
    left: 3px;
}

.ui-datepicker .ui-datepicker-next-hover {
    right: 3px;
}

.inputContent {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 3% 9%;

    .inputContentText {
        width: 100px;
        height: 30px;

        .inputTextBackground {
            width: 90%;
            height: 70%;
            background-color: $Color_PK3;
            border-radius: 25px;
            position: relative;
            top: 20%;

            .inputText {
                font-size: 16pt;
                color: $Color_B1;
                position: relative;
                bottom: 50%;
                right: 5%;
                font-weight: 600;
            }
        }
    }
}

.btn_sm_submit {
    width: 130px;
    height: 50px;
    font-size: 15pt;
    border-radius: 5px;
    background-color: $Color_PK2;
    color: $Color_W1;
    font-weight: 700;
    outline: 0;
}

.div_menu {
    background-color: $Color_W1;
    width: 20%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
}

.div_content {
    height: 100%;
    position: absolute;
    left: 22%;
    right: 28.5%;
}

.div_right {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0px;
    right: 30px;
}

.div_banner {
    background-color: $Color_W1;
    width: 100%;
    height: 150px;
    margin: 30px auto;
    border-radius: 5px;

    .banner_img{
        width: 100%;
        height: 100%;
    }
}

a.logo_index {
    font-size: 25pt;
    display: flex;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 10%;
    color: $Color_PK2;
}

.meunContent {
    padding-left: 15%;
}

.index_profilePhoto {
    border-radius: 50%;
    border: 1px $Color_PK2 solid;
    display: flex;
    width: 150px;
    height: 150px;
}

.index_profilePhotoDefault {
    border: 1px $Color_B1 solid !important;
    filter: $Color_PK2_Filter;
}

.index_nickName {
    font-size: 20pt;
    color: $Color_PK2;
    padding: 20px 0 20px 0;
}

.index_status {
    height: 35px;
    width: 120px;
    border: 1px solid $Color_G1;
    border-radius: 50px;
    font-size: 14pt;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 0px;
    list-style: none;

    li {
        height: 40px;
        width: 120px;
        border: 1px solid $Color_G1;
        font-size: 14pt;
        text-align: center;
        z-index: 2;
        float: left;
        display: none;
        background: white;
        padding: 5px 0px;
        cursor: pointer;
    }

    li:nth-child(2) {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    li:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    .index_status_select {
        cursor: pointer;
        margin: 5px 0 0 0;
        width: 100%;

        &:after {
            display: inline-block;
            position: absolute;
            content: "";
            width: 20px;
            height: 22px;
            background-image: url('../../images/arrow_drop_down.svg');
            background-size: 30px;
            filter: $Color_G4_Filter;
        }
    }

    .index_status_select_up {
        &:after {
            background-image: url('../../images/arrow_drop_up.svg') !important;
        }
    }
}

.index_online {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: $Color_GN1;
    border: 1px solid $Color_G1;
    vertical-align: middle;
    margin: 0 5px 5px -20px;
}

.index_offline {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: $Color_G1;
    border: 1px solid $Color_G1;
    vertical-align: middle;
    margin: 0 5px 5px -20px;
}

.index_buzy {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: red;
    border: 1px solid $Color_G1;
    vertical-align: middle;
    margin: 0 5px 5px -20px;
}

.index_menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;

    input {
        font-size: 16pt;
        color: $Color_B1;
        position: relative;
        bottom: 50%;
        right: 5%;
        font-weight: 600;
    }

    .index_menuLink {
        width: 100px;
        height: 30px;
        margin: 5px 0;
    }

    .index_menuTextBackground {
        width: 90%;
        height: 70%;
        border-radius: 25px;
        position: relative;
        top: 20%;
    }

    .index_menuTextBackground_color {
        background-color: $Color_PK3;
    }

    .index_menuText {
        font-size: 16pt;
        color: $Color_B1;
        position: relative;
        bottom: 50%;
        right: 5%;
        font-weight: 600;
        display: block;
        cursor: pointer;
    }
}

.lSAction > .lSPrev {
    background-position: -2px -4px;
    left: 10px;
    background-color: $Color_PK2;
    border-radius: 50%;
    box-sizing: border-box;
    border: 4px solid $Color_PK2;
}

.lSAction > .lSNext {
    background-position: -38px -4px;
    right: 10px;
    background-color: $Color_PK2;
    border-radius: 50%;
    box-sizing: border-box;
    border: 4px solid $Color_PK2;
}

/*----------------------------------- 好友列表 -----------------------------------*/
.div_friend {
    background-color: $Color_W1;
    width: 100%;
    height: 75%;
    border-radius: 5px;

    .friend_container {
        padding: 20px 30px;
        height: 100%;

        .friend_search_container {
            overflow: hidden;
            border-radius: 50px;
            border: 1px solid $Color_G2;
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 5px;

            .friend_search {
                font-size: 17px;
                border: none;
                width: 85%;
                height: 100%;
                font-weight: 400;
                padding-left: 0 !important;
            }

            .SearchIcon {
                filter: $Color_PK2_Filter;
                height: 25px;
            }
        }

        .friend_content {
            width: 100%;
            height: 90%;
            overflow-x: hidden;
            overflow-y: auto;
            margin: 10px 0;
            //捲軸底色
            &::-webkit-scrollbar-track {
                background-color: $Color_G1;
                border-radius: 10px;
            }
            //捲軸寬度
            &::-webkit-scrollbar {
                width: 10px;
            }
            //捲軸本體顏色
            &::-webkit-scrollbar-thumb {
                background-color: rgba(0,0,0,0.2);
                border-radius: 10px;
            }

            .friend {
                display: flex;
                align-content: center;
                padding: 5px 10px;
                cursor: pointer;
                transition: all 0.2s linear;
                border-radius: 10px;

                &:hover {
                    background: $Color_G1;
                    transition: all 0.2s linear;
                }

                .friend_img_container {
                    width: 35px;
                    height: 35px;

                    .friend_img {
                        border-radius: 50%;
                        border: 1px $Color_PK2 solid;
                        width: 100%;
                        height: 100%;
                    }
                }

                .friend_name {
                    font-size: 12pt;
                    display: flex;
                    align-items: center;
                    padding-left: 15px;
                }
            }
        }
    }
}