@charset "UTF-8";
html {
  height: 100%;
  margin: 0; }

body {
  font-family: Arial,"Microsoft JhengHei";
  background-color: #FCD4D5;
  height: 100%;
  margin: 0; }

.btn_div {
  display: flex;
  align-content: center;
  justify-content: center;
  margin-top: 20px; }

a {
  text-decoration: none; }

.logo {
  font-size: 40pt;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 8%;
  padding-bottom: 3%;
  color: #f2a1a1; }

input[type="text"], input[type="password"] {
  height: 50px;
  border-radius: 5px;
  border: 1px solid #FCD4D5;
  font-size: 15pt;
  margin-top: 2px;
  outline: 0;
  padding-left: 15px; }

input[type="text"]:focus, input[type="password"]:focus {
  border: 1px solid #F2A1A1; }

input[type="button"] {
  border: none;
  cursor: pointer; }

input[type="date"] {
  height: 45px;
  border-radius: 5px;
  border: 1px solid #FCD4D5;
  font-size: 15pt;
  margin-top: 2px;
  outline: 0;
  padding-left: 12px;
  padding-right: 5px; }

input[type="date"]:focus {
  border: 1px solid #F2A1A1; }

input[type="date"]::-webkit-calendar-picker-indicator {
  background-image: url("/Image/date.png");
  background-repeat: no-repeat; }

.member_layout_background {
  width: 500px;
  height: 100%;
  background-color: #FFFFFF;
  margin: 0px auto; }

.member_layout_Box {
  padding-top: 35%; }

/*POP背景遮罩*/
.popLayer {
  display: none;
  background-color: rgba(0, 0, 0, 0.32);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

/*POP彈窗樣式*/
.popBox {
  display: none;
  background-color: #FFFFFF;
  border: 1px solid #D68D8D;
  border-radius: 10px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto; }

.InfoStyle {
  width: 700px;
  height: 490px; }

.topBar {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 8%; }

.closeIcon {
  width: 50px;
  height: 50px;
  fill: #F2A1A1;
  position: absolute;
  right: 0px;
  cursor: pointer; }

.closeIcon:hover {
  fill: #D68D8D; }

.popTitle {
  color: #D68D8D;
  font-size: 25pt;
  font-weight: 700;
  position: absolute;
  padding-top: 35px; }

.Error, .Info {
  width: 300px;
  height: 200px; }

.btn_Error {
  width: 130px;
  height: 50px;
  font-size: 15pt;
  border-radius: 5px;
  background-color: #F2A1A1;
  color: #FFFFFF;
  font-weight: 700;
  outline: 0; }

.btn_Error:hover {
  border: 1px solid #FFFFFF; }

.ErrorText {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-size: 15pt;
  color: #FF5A5A;
  font-weight: 600;
  text-align: center;
  height: 80px;
  align-items: center; }

.InfoText {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  font-size: 15pt;
  color: black;
  font-weight: 600;
  text-align: center;
  height: 80px;
  align-items: center; }

.PromptText {
  color: #BFBFBF;
  font-size: 12pt; }

.input-error {
  border: 2px solid red !important; }

/* 客製化 SweetAlert2 */
.swal2-styled.swal2-confirm {
  width: 130px !important;
  height: 50px !important;
  font-size: 15pt !important;
  border-radius: 5px !important;
  background-color: #F2A1A1 !important;
  color: #FFFFFF !important;
  font-weight: 700 !important;
  border: none !important; }

.swal2-styled.swal2-confirm:focus {
  box-shadow: none !important; }

.swal2-html-container {
  font-size: 1.5em !important;
  font-weight: 600 !important; }

/* 客製化 JQuery DatePicker*/
.ui-widget-content {
  background: #FFFFFF;
  border: none;
  box-shadow: 1px 1px 3px 1px #F2A1A1; }

.ui-widget-header {
  border: none;
  background: #FCD4D5; }

.ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: #FFF3F3;
  border: none;
  border-radius: 3px;
  text-align: center; }

.ui-state-default:hover {
  background: #f2a1a1;
  color: #FFFFFF; }

.ui-datepicker select.ui-datepicker-month, .ui-datepicker select.ui-datepicker-year {
  width: 35%;
  border-radius: 5px;
  margin: 0px 5px;
  border: none; }

.ui-datepicker-year::-webkit-scrollbar-thumb {
  display: none; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: none;
  background: #f2a1a180;
  top: 3px; }

.ui-datepicker .ui-datepicker-prev-hover {
  left: 3px; }

.ui-datepicker .ui-datepicker-next-hover {
  right: 3px; }

.inputContent {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 3% 9%; }
  .inputContent .inputContentText {
    width: 100px;
    height: 30px; }
    .inputContent .inputContentText .inputTextBackground {
      width: 90%;
      height: 70%;
      background-color: #ffe9e9;
      border-radius: 25px;
      position: relative;
      top: 20%; }
      .inputContent .inputContentText .inputTextBackground .inputText {
        font-size: 16pt;
        color: #4E4E4E;
        position: relative;
        bottom: 50%;
        right: 5%;
        font-weight: 600; }

.btn_sm_submit {
  width: 130px;
  height: 50px;
  font-size: 15pt;
  border-radius: 5px;
  background-color: #F2A1A1;
  color: #FFFFFF;
  font-weight: 700;
  outline: 0; }
