@{
    ViewBag.Title = "HomePage";
    Layout = "_Layout";
}
@using SocialNetwork.Helper
@inject IUserContext UserContext

<link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Home/FriendManagement.css" asp-append-version="true" />
<script src="~/js/Home/FriendManagement.js" asp-append-version="true"></script>

<script>
    $(function () {
        FriendManagementPage.Init();
    });
</script>

<div class="div_content">
    <div class="div_firend_topBar">
        好友管理
    </div>
    <div class="div_firend_container">
        <div class="div_firend_tab">
            <div class="div_friend_tab_content">
                <div class="div_firend_tab_container">
                    <div class="div_firend_tab_name_container" Tab="MyFriend" onclick="FriendManagementPage.SetFriendManagementTab(this)">
                        <span class="div_firend_tab_name">
                            我的好友
                        </span>
                    </div>
                </div>
                <div class="div_firend_tab_container">
                    <div class="div_firend_tab_name_container" Tab="FriendInvitation" onclick="FriendManagementPage.SetFriendManagementTab(this)">
                        <span class="div_firend_tab_name">
                            好友邀請
                        </span>
                    </div>
                </div>
                <div class="div_firend_tab_container">
                    <div class="div_firend_tab_name_container" Tab="SendFriendInvitation" onclick="FriendManagementPage.SetFriendManagementTab(this)">
                        <span class="div_firend_tab_name">
                            您送出的好友邀請
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="div_firend_content MyFriend"></div>
        <div class="div_firend_content FriendInvitation"></div>
        <div class="div_firend_content SendFriendInvitation"></div>
    </div>
</div>