@{
    ViewBag.Title = "HomePage";
    Layout = "_Layout";
}
@using SocialNetwork.Repository

<script src="~/js/Home/HomePage.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Home/HomePage.css" asp-append-version="true" />
<script>
    $(document).ready(async function () {
        HomePage.Init();
        await Post.Init(@((int)PostTypeEnum.個人首頁), @ViewBag.QueryMemberID);

        $(".PostContent").lightSlider({
            gallery: true, // 相本模式
            item: 1, // 顯示數量
            loop: false, // 無限循環
            slideMargin: 10, // 間隔寬度
            enableDrag: true, // 當左右拖曳時，則切換上/下項目
            speed: 500,
            adaptiveHeight: true,
            //autoWidth: true
            //verticalHeight: 500px
        });
    });
</script>

<input type="text" hidden="hidden" id="query_memberID" value="@ViewBag.QueryMemberID">
<div class="div_content">
    <div class="div_homePage_topBar"></div>
    <div class="div_profile">
        <div class="profile_background_container">
            <img class="profile_background" />
        </div>
        <div class="profile_name_container">
            <div class="profile_photo_container">
                <img class="profile_photo">
            </div>
            <span class="profile_name"></span>
            <div class="div_sendMsg" style="display: none;">
                <img class="sendMsg_icon" src="/images/sendMsg.svg">
                <label onclick="HomePage.SendMsg()">聊天</label>
            </div>
            <div class="div_addFriend" style="display: none;">
                <img class="addFriend_icon" src="/images/addFriend.svg">
                <label class="lbl_addFriend" onclick="Friend.SendFriendInvitation()">加好友</label>
            </div>
        </div>
        <div class="profile_detail">
            <div class="profile_detail_row">
                <div class="profile_detail_title_container">
                    <div class="profile_detail_title_content">
                        <div class="profile_detail_title_background">
                            <a class="profile_detail_title">生日</a>
                        </div>
                    </div>
                    <div class="profile_detail_content">
                        <span class="profile_detail_brithday"></span>
                    </div>
                </div>

                <div class="profile_detail_title_container">
                    <div class="profile_detail_title_content">
                        <div class="profile_detail_title_background">
                            <a class="profile_detail_title">工作</a>
                        </div>
                    </div>
                    <div class="profile_detail_content">
                        <span class="profile_detail_job"></span>
                    </div>

                </div>
            </div>
            <div class="profile_detail_row">
                <div class="profile_detail_title_container">
                    <div class="profile_detail_title_content">
                        <div class="profile_detail_title_background">
                            <a class="profile_detail_title">興趣</a>
                        </div>
                    </div>
                    <div class="profile_detail_content">
                        <span class="profile_detail_internest"></span>
                    </div>

                </div>
                <div class="profile_detail_title_container">
                    <div class="profile_detail_title_content">
                        <div class="profile_detail_title_background">
                            <a class="profile_detail_title">學歷</a>
                        </div>
                    </div>
                    <div class="profile_detail_content">
                        <span class="profile_detail_education"></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/Templates/_PushlishPost.cshtml" model='(int)PostTypeEnum.個人首頁' />
    <div id="post"></div>
</div>