@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}
@using SocialNetwork.Helper
@inject IUserContext UserContext

<link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
<script>
    $(function () {
        $(".example").lightSlider({
            gallery: true, // 相本模式
            item: 1, // 顯示數量
            loop: false, // 無限循環
            slideMargin: 10, // 間隔寬度
            enableDrag: true, // 當左右拖曳時，則切換上/下項目
            speed: 500,
            adaptiveHeight: true,
            //autoWidth: true
            //verticalHeight: 500px
        });
    });
</script>
<div class="div_content">
    <partial name="~/Views/Shared/Templates/_PushlishPost.cshtml" />
</div>