@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<div class="div_content">
    <div class="div_mypost">
        <a>mypost</a>
    </div>
    <div class="div_post">
        <a>content</a>
    </div>
</div>