@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}
@using SocialNetwork.Helper
@using SocialNetwork.Repository
@inject IUserContext UserContext

<script src="~/js/Home/Index.js" asp-append-version="true"></script>
<link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
<script>
    $(document).ready(async function () {
        IndexPage.Init();
        await Post.Init(@((int)PostTypeEnum.首頁));
    });
</script>
<div class="div_content">
    <partial name="~/Views/Shared/Templates/_PushlishPost.cshtml" />
    <div id="post"></div>
</div>