@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}

<style>
    /*html {
        height: 100%;
        margin: 0;
    }

        html::-webkit-scrollbar {*/ /*捲軸本身*/
            /*width: 5px;
        }

        html::-webkit-scrollbar-thumb {*/ /*捲軸可以拉的部分*/
            /*background-color: #00000050;
            border-radius: 50px;
        }

    body {
        font-family: Arial,"Microsoft JhengHei";
        background-color: #F5F5F5;
        margin: 0;
    }*/

    .div_menu {
        background-color: #ffffff;
        width: 20%;
        height: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
    }

    .div_content {
        height: 100%;
        position: absolute;
        left: 22%;
        right: 28.5%;
    }

    .div_right {
        width: 25%;
        height: 100%;
        position: fixed;
        top: 0px;
        right: 30px;
    }

    .div_banner {
        background-color: #ffffff;
        width: 100%;
        height: 150px;
        margin: 30px auto;
        border-radius: 5px;
    }

    .div_friend {
        background-color: #ffffff;
        width: 100%;
        height: 74.5%;
        border-radius: 5px;
    }

    .div_mypost {
        background-color: #ffffff;
        width: 100%;
        height: 50px;
        margin-top: 30px;
        border-radius: 5px;
    }

    .div_post {
        background-color: #ffffff;
        width: 100%;
        height: 85px;
        margin-top: 30px;
        border-radius: 5px;
    }

    .logo_index {
        font-size: 25pt;
        display: flex;
        justify-content: center;
        padding-top: 8%;
        padding-bottom: 10%;
        color: #f2a1a1;
    }

    .meunContent {
        padding-left: 15%;
    }

    .btn_singout {
        color: #808080;
        font-size: 12pt;
        text-align: left;
        padding: 0px;
        display: flex;
    }

    input[type="button"] {
        background-color: #ffffff;
        border: none;
    }

    .index_profilePhoto {
        border-radius: 50%;
        border: 1px #f2a1a1 solid;
        display: flex;
        width: 40%;
        height: 50%;
        fill: #f2a1a1;
    }

    .index_nickName {
        font-size: 20pt;
        color: #f2a1a1;
        padding: 20px 0 20px 0;
    }

/*    .index_status {
        border: 1px solid #E8E8E8;
        border-radius: 50px;
        font-size: 16pt;
        padding: 10px;
    }*/
    .index_status {
        height: 40px;
        width: 120px;
        border: 1px solid #E8E8E8;
        border-radius: 50px;
        font-size: 14pt;
        padding: 10px;
        text-align: center;
    }

    .index_status li {
        height: 40px;
        width: 120px;
        border: 1px solid #E8E8E8;
        font-size: 16pt;
        padding: 10px;
        text-align: center;
        z-index: 2;
        float: left;
        display: none;
        background: #E8E8E8;
    }

        .index_status li:hover, .index_status li.selected {
            background: #FCD4D5;
        }

        .index_status li:nth-child(2) {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
        }

        .index_status li:last-child {
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

    .index_status_select {
        cursor: pointer;
        margin-bottom: 10px;
    }

    .index_online {
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
        border-radius: 50%;
        background-color: #8AD98A;
        border: 1px solid #E8E8E8;
        margin-right: 5px;
    }

    .index_offline {
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
        border-radius: 50%;
        background-color: white;
        border: 1px solid #E8E8E8;
        margin-right: 5px;
    }

    .index_buzy {
        display: inline-block;
        width: 0.7em;
        height: 0.7em;
        border-radius: 50%;
        background-color: red;
        border: 1px solid #E8E8E8;
        margin-right: 5px;
    }

</style>
<div class="div_content">
    <div class="div_mypost">
        <a>mypost</a>
    </div>
    <div class="div_post">
        <a>content</a>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(() => {
        // 控制 SVG CSS
        Common.ControllSVG();
        var data = [1, 2, 3, 4, 5];

        data.forEach(x => {
            $('.div_mypost').append(`<a>${x}</a>`);
        });

        $("ul").on("click", ".index_status_select", function () {
            $(this).closest("ul").children('li').toggle();
        });

        $("ul").on("click", "li", function () {
            var allOptions = $("ul").children('li');
            allOptions.removeClass('selected');
            $(this).addClass('selected');
            $("ul").children('.index_status_select').html($(this).html());
            allOptions.toggle();
        });
    });
    function login() {
        window.location.href = '/Home/Login';
    }


    

</script>
