@{
    ViewBag.Title = "HomePage";
    Layout = "_Layout";
}
@using SocialNetwork.Helper
@inject IUserContext UserContext

<link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />

<script src="~/js/Home/MemberSetting.js" asp-append-version="true"></script>
<script>
    $(function () {
        MemberSettingPage.Init();
    });
</script>

<link rel="stylesheet" href="~/css/Home/MemberSetting.css" asp-append-version="true" />
<div class="div_content">
    <div class="div_save_topBar">
        個人主頁設定
        <input class="SaveButton" type="button" value="儲存變更" onclick="MemberSettingPage.UpdateMemberInfo()" />
    </div>
    <div class="div_profile">
        <div class="profile_background_container">
            <img class="profile_background" />
            <div class="profile_changeBackground_container">
                <img class="profile_changeBackground_icon" src="~/images/edit.svg" />
                <label for="profile_changeBackground">更換主頁背景</label>
                <input type="file" id="profile_changeBackground" accept="image/*" onchange="MemberSettingPage.UploadProfile_Change(this)" />
            </div>
            <div class="profile_photo_container">
                <img class="profile_photo" src="@UserContext.User.ProfilePhotoUrl">
                <div class="profile_changePhoto_container">
                    <img class="profile_changePhoto_icon" src="~/images/edit.svg" />
                    <label for="profile_changePhoto">更換頭像</label>
                    <input type="file" id="profile_changePhoto" accept="image/*" onchange="MemberSettingPage.UploadProfile_Change(this)" />
                </div>
            </div>
        </div>
        <div class="profile_name">
            <span class="profile_OldName">@UserContext.User.NickName</span>
            <input class="profile_changeName" type="text" style="display:none;" maxlength="10" />
            <div class="profile_changeName_container">
                <img class="profile_changeName_icon" src="~/images/edit.svg" />
                <label onclick="MemberSettingPage.ChangeName_Click()">修改名稱</label>
            </div>
            <div class="profile_changeName_cancel" style="display:none;" onclick="MemberSettingPage.ChangeName_Cancel()">取消</div>
        </div>
        <div class="profile_detail">
            <div class="profileContent">
                <div class="InfoInputText">
                    <div class="InfoTextBackground">
                        <a class="InfoText">生日</a>
                    </div>
                </div>
                <div class="InfoInputdiv">
                    <input id="infoBrithday" class="input_profile" type="text" autocomplete="off" disabled="disabled">
                    <div class="DateIcon">
                        <input type="button" id="brithday_datepicker">
                        <img src="/images/date.png">
                    </div>
                    <div><img onclick="Common.InfoIconToggle(this)" class="InfoIcon" src="/images/InfoPublic.png" MemberPublicInfoFlag="1"></div>
                </div>
            </div>
            <div class="profileContent">
                <div class="InfoInputText">
                    <div class="InfoTextBackground">
                        <a class="InfoText">興趣</a>
                    </div>
                </div>
                <div class="InfoInputdiv">
                    <input id="infoInternest" class="input_profile" type="text" autocomplete="off" maxlength="100">
                    <div><img onclick="Common.InfoIconToggle(this)" class="InfoIcon" src="/images/InfoPublic.png" MemberPublicInfoFlag="2"></div>
                </div>
            </div>
            <div class="profileContent">
                <div class="InfoInputText">
                    <div class="InfoTextBackground">
                        <a class="InfoText">工作</a>
                    </div>
                </div>
                <div class="InfoInputdiv">
                    <input id="infoJob" class="input_profile" type="text" autocomplete="off" maxlength="100">
                    <div><img onclick="Common.InfoIconToggle(this)" class="InfoIcon" src="/images/InfoPublic.png" MemberPublicInfoFlag="4"></div>
                </div>
            </div>
            <div class="profileContent">
                <div class="InfoInputText">
                    <div class="InfoTextBackground">
                        <a class="InfoText">學歷</a>
                    </div>
                </div>
                <div class="InfoInputdiv">
                    <input id="infoEducation" class="input_profile" type="text" autocomplete="off" maxlength="100">
                    <div><img onclick="Common.InfoIconToggle(this)" class="InfoIcon" src="/images/InfoPublic.png" MemberPublicInfoFlag="8"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="div_save_topBar" id="div_password_change_bar" style="margin-top: 30px;">
        密碼變更
        <input class="SaveButton" type="button" value="儲存變更" onclick="MemberSettingPage.ChangePassword()" />
    </div>
    <div class="div_password_change">
        <div class="passwordChangeContent">
            <div class="InfoInputText">
                <div class="InfoTextBackground" style="width: 110px;">
                    <a class="InfoText">舊密碼</a>
                </div>
            </div>
            <div class="InfoInputdiv">
                <input class="input_password" id="oldPassword" type="password" autocomplete="new-password" maxlength="20" placeholder="請輸入目前的密碼">
            </div>
        </div>
        <div class="passwordChangeContent">
            <div class="InfoInputText">
                <div class="InfoTextBackground" style="width: 110px;">
                    <a class="InfoText">新密碼</a>
                </div>
            </div>
            <div class="InfoInputdiv">
                <input class="input_password" id="newPassword" type="password" autocomplete="new-password" maxlength="20" placeholder="請輸入欲更換的密碼">
            </div>
        </div>
        <div class="passwordChangeContent">
            <div class="InfoInputText">
                <div class="InfoTextBackground" style="width: 110px;">
                    <a class="InfoText">新密碼確認</a>
                </div>
            </div>
            <div class="InfoInputdiv">
                <input class="input_password" id="newPasswordCheck" type="password" autocomplete="new-password" maxlength="20" placeholder="請再輸入一次新密碼">
            </div>
        </div>
    </div>
</div>