@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewBag.Title = "IKKON";
    Layout = "_MemberLayout";
}

<script src="~/js/Member/ResetPassword.js" asp-append-version="true"></script>

<script>
    $(function () {
        ResetPasswordPage.Init();
    });
</script>

<input type="text" hidden="hidden" id="resetPassword_guid" value="@ViewBag.Guid">
<div class="topBar">
    <div class="popTitle" style="padding-top:0 !important;"><a>變更密碼</a></div>
</div>
<div class="inputContent">
    <div class="inputContentText">
        <div class="inputTextBackground">
            <a class="inputText">新密碼</a>
        </div>
    </div>
    <div>
        <input class="input_sinup" type="password" placeholder="請輸入新密碼" id="resetPassword_password" autocomplete="off" maxlength="20" style="width: 290px; margin-right:5px;">
    </div>
</div>
<div class="inputContent">
    <div class="inputContentText">
        <div class="inputTextBackground">
            <a class="inputText">密碼確認</a>
        </div>
    </div>
    <div>
        <input class="input_sinup" type="password" placeholder="請再次輸入密碼" id="resetPassword_confirmPassword" autocomplete="off" maxlength="20" style="width: 290px; margin-right:5px;">
    </div>
</div>
<div class="btn_div">
    <div><input class="btn_sm_submit" type="button" value="確定變更" onclick="ResetPasswordPage.ResetPasswordConfirm()"></div>
</div>
