body {
  background-color: #FFFFFF;
}
body .div_error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 100px;
  gap: 50px;
  position: absolute;
  width: 600px;
  height: 550px;
  background: #FFE5E5;
  box-shadow: 0px 4px 10px rgba(214, 141, 141, 0.5);
  border-radius: 50px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
body .div_error .error_logo {
  width: 250px;
}
body .div_error .body_error {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 25px;
  width: 600px;
}
body .div_error .body_error .body_error_logo {
  width: 250px;
  height: 150px;
  text-align: center;
}
body .div_error .body_error .body_error_text {
  width: 500px;
  height: 115px;
  font-family: "Arial";
  font-style: italic;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  text-align: center;
  color: #D68D8D;
}
body .div_error .body_error .body_error_memo {
  width: 500px;
  height: 31px;
  font-family: "Heiti SC";
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 31px;
  text-align: center;
  color: #D68D8D;
}
body .div_error .footer_error {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 30px;
  width: 600px;
  height: 56px;
}
body .div_error .footer_error input {
  width: 200px;
  height: 50px;
  font-size: 15pt;
  border-radius: 5px;
  background-color: #F2A1A1;
  color: #FFFFFF;
  font-weight: 600;
  outline: 0;
  border: 0px;
  cursor: pointer;
}
body .div_error .footer_error input:hover {
  background-color: #D68D8D;
}
