.post_content {
  opacity: 30%;
  font-size: 14pt; }

.post_content_detail_hide {
  display: none; }

.post_content_detail {
  width: 100%;
  /*height: 70px;*/
  display: flex;
  align-items: center;
  padding-left: 20px; }

.post_content_detail_topBar {
  height: 50px;
  display: flex;
  justify-content: center;
  margin-bottom: 8%; }
  .post_content_detail_topBar .deploy_post_title {
    color: #D68D8D;
    font-size: 25pt;
    font-weight: 700;
    position: absolute;
    padding-top: 35px; }
  .post_content_detail_topBar #deploy_post_cancel {
    width: 55px;
    height: 30px;
    position: absolute;
    right: 15%;
    cursor: pointer;
    border-radius: 50px; }
  .post_content_detail_topBar #deploy_post {
    width: 55px;
    height: 30px;
    position: absolute;
    right: 5%;
    cursor: pointer;
    border-radius: 50px; }
