@import '../Common/Base.scss';

.div_post {
    width: 100%;
    margin-top: 25px;
    border-radius: 5px;
}

.postPhoto_container {
    width: 50px;
    height: 50px;
}

.postPhoto {
    border-radius: 50%;
    border: 1px $Color_PK2 solid;
    width: 100%;
    height: 100%;
}

.post_content_topBar {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;

    .postProfile {
        height: 50px;
        margin-left: 15px;
        font-size: 14pt;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .time {
            color: $Color_G2;
            font-size: 10pt;
        }
    }

    .postAction {
        width: 50px;
        height: 40px;
        position: absolute;
        right: 1%;
        cursor: pointer;
        border-radius: 50px;
        font-size: 24pt;
        text-align: center;
        color: $Color_G2;
    }
}

.post_body {
    padding: 0 30px 10px 75px;
    width: 80%;
    height: 100%;
}

#wrapper {
    width: 80%;
    margin: 0 auto;
}

.div_post_content {
    margin: 5px auto;
    background-color: $Color_W1;
    border-radius: 5px;
}

.post_footerBar {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: flex-start;

    .post_footer_container {
        width: 6%;
        text-align: center;
        display: flex;
        margin: 0 15px;

        .post_footer_img {
            margin: 0 5px;
        }

        .post_footer_number {
            font-size: 14pt;
            text-align: center;
            display: flex;
            align-items: center;
        }

        .postLike, .postMsg {
            width: 30px;
            height: 30px;
            fill: $Color_G4;
            cursor: pointer;
        }

        .postLike:hover, .postMsg:hover {
            fill: $Color_G5;
        }

        .postShare {
            width: 30px;
            height: 30px;
            fill: $Color_PK2;
            cursor: pointer;
        }

        .postShare:hover {
            fill: $Color_PK1;
        }
    }
}

.post_msgPhoto_container {
    width: 40px;
    height: 40px;
}

.post_msgPhoto {
    border-radius: 50%;
    border: 1px $Color_PK2 solid;
    width: 100%;
    height: 100%;
}

.div_post_msg_send {
    background-color: $Color_W1;
    border-radius: 5px;
    display: flex;
    border-left: 8px solid $Color_PK1;
    height: 100%;
    padding: 5px;
    align-items: center;
    margin: 5px auto;

    > div {
        padding: 5px;
    }

    .post_msg_comment {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 89%;

        .msgComment {
            overflow: hidden;
            resize: none;
            font-size: 20px;
            border-radius: 10px;
            border: 1px solid $Color_PK2;
            width: 100%;
            height: 50px;
            padding-left: 10px;
        }
    }

    .msgComment:focus {
        outline: none !important;
        border: 1px solid $Color_PK1;
        box-shadow: 0 0 5px $Color_PK1;
    }
}

.post_msg_submit {
    width: 30px;
    position: absolute;
    right: 1%;

    .msgSend {
        width: 30px;
        height: 30px;
        fill: $Color_PK2;
        cursor: pointer;
    }

    .msgSend:hover {
        fill: $Color_PK1;
    }
}

.div_post_msg {
    background-color: $Color_W1;
    border-radius: 5px;
    display: flex;
    border-left: 8px solid $Color_PK2;
    height: 100%;
    padding: 5px;
    align-items: center;
    margin: 5px auto;

    .postMsgProfile {
        height: 50px;
        margin-left: 15px;
        font-size: 14pt;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 12%;

        .time {
            color: $Color_G2;
            font-size: 10pt;
        }
    }

    .postMsgComment {
        padding: 0 10px;
        width: 80%;
    }
}