@import '../Common/Base.scss';

#brithday_datepicker {
    width: 45px;
    height: 45px;
    text-indent: -999px;
    overflow: hidden;
    background: none;
    margin: auto;
    position: absolute;
}

.DateIcon {
    padding: 0 10px;
}

.div_save_topBar {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 22pt;
    color: $Color_PK1;

    .SaveButton {
        width: 105px;
        height: 35px;
        position: absolute;
        right: 0%;
        cursor: pointer;
        border-radius: 50px;
        background-color: #F2A1A1;
        color: white;
        font-size: 15pt;
    }
}

.InfoInputText {
    height: 30px;

    .InfoTextBackground {
        width: 50px;
        height: 70%;
        background-color: $Color_PK3;
        border-radius: 25px;
        position: relative;

        .InfoText {
            font-size: 16pt;
            color: $Color_B1;
            position: relative;
            bottom: 50%;
            right: 5%;
            font-weight: 600;
            height: auto !important;
        }
    }
}

#profile_changeBackground, #profile_changePhoto {
    display: none;
}

.div_profile {
    background-color: $Color_W1;
    border-radius: 5px;
    width: 100%;
    height: 55%;

    .profile_background_container {
        position: relative;
        width: 100%;
        height: 45%;

        .profile_background {
            width: 100%;
            height: 100%;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .profile_changeBackground_container {
            position: absolute;
            top: 10%;
            left: 1%;
            width: 140px;
            height: 30px;
            border-radius: 20px;
            background-color: rgba(0,0,0, 0.3);
            color: $Color_W1;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;

            .profile_changeBackground_icon {
                filter: $Color_W1_Filter;
                height: 20px;
                width: 20px;
                padding-right: 5px;
                position: absolute;
                left: 10px;
            }

            label {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 35px;
                cursor: pointer;
                z-index: 999;
            }
        }

        .profile_photo_container {
            border-radius: 50%;
            border: 1px $Color_PK2 solid;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20%;
            height: 80%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-color: $Color_W1;

            .profile_photo {
                position: relative;
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

            .profile_changePhoto_container {
                position: absolute;
                bottom: 10%;
                right: -30%;
                width: 110px;
                height: 30px;
                border-radius: 20px;
                background-color: rgba(0, 0, 0, 0.3);
                color: #FFFFFF;
                font-weight: 400;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;

                .profile_changePhoto_icon {
                    filter: $Color_W1_Filter;
                    height: 20px;
                    width: 20px;
                    padding-right: 5px;
                    position: absolute;
                    left: 10px;
                }

                label {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding-left: 35px;
                    cursor: pointer;
                    z-index: 999;
                }
            }
        }
    }

    .profile_name {
        color: $Color_PK2;
        background-color: $Color_PK3;
        font-size: 24pt;
        text-align: center;
        height: 12%;
        display: flex;
        align-items: center;
        justify-content: center;

        .profile_changeName_container {
            position: absolute;
            right: 2%;
            width: 110px;
            height: 35px;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.3);
            color: #FFFFFF;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 16px;

            .profile_changeName_icon {
                filter: $Color_W1_Filter;
                height: 20px;
                width: 20px;
                padding-right: 5px;
                position: absolute;
                left: 10px;
            }

            label {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 35px;
                cursor: pointer;
                z-index: 999;
            }
        }

        .profile_changeName_cancel {
            position: absolute;
            right: 2%;
            width: 60px;
            height: 35px;
            border-radius: 20px;
            background-color: rgba(0, 0, 0, 0.3);
            color: #FFFFFF;
            font-weight: 400;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 16px;
        }
    }

    .profile_detail {
        height: 50%;

        .profileContent {
            display: flex;
            align-items: center;
            justify-content: left;
            margin: 2% 50px;
            height: 12%;

            .InfoInputdiv {
                display: contents;

                .input_profile {
                    height: 35px !important;
                    width: 80%;
                    margin-left: 20px;
                }

                .InfoIcon {
                    width: 90px;
                    margin-left: 10px;
                    right: 0px;
                    cursor: pointer;
                }
            }
        }
    }
}

.div_password_change {
    background-color: $Color_W1;
    border-radius: 5px;
    width: 100%;
    height: 25%;
    padding-top: 2%;

    .passwordChangeContent {
        display: flex;
        align-items: center;
        justify-content: left;
        margin: 3% 50px;
        height: 15%;

        .InfoInputdiv {
            display: contents;

            .input_password {
                height: 35px !important;
                width: 80%;
                margin-left: 20px;
            }
        }
    }
}